body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 32px;
    min-width: fit-content;
    flex: 0 1 auto;
}

img {
    width: 204px;
    height: 204px;
}

.headnav {
    display: flex;
    justify-content: space-between;
}

.headnav img {
    width: 50px; 
    height: 50px;
}

.headnav ul {
    display: flex;
    align-items: center;
    gap: 0px 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: rgb(243, 189, 141);
}

.headimg {
    width: 504px;
    height: 304px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.wrapper button {
    background-color: #3882f6;
    color: #EFE7EB;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.headermain p {
    width: 300px;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

main {
    flex: 1 1 auto;
}

.mainwrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 48px;
}

.paintings {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
}

.paintings figure {
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #3882f6;
    transition: all 2s;
}

.paintings figure:hover {
    transform: scale(1.2);
    color: black;
}

.paintings figcaption {
    text-align: center;
}

.mainwrap2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.mainwrap2 blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
   
}

.mainwrap2 figcaption {
    text-align: right;
}

.mainwrap3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 100px;
}

.card {
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 32px;
    flex: 1 1 auto;
    justify-content: space-around;
}

h3 {
    font-size: 20px;
    font-weight: bold;;
}

.card button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 5px 20px;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex: 0 0 auto;
}